@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color:white;
    align-items: center;
  }

  .footer__column-link:hover {
    animation: opacity 5s linear;
  }