.section-subtitle_theme_dark {
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }